html{
    background-color: bisque;
}
p{
    background-color: aquamarine;
}
.text{
    background-color: yellowgreen;
    margin: 30px, 40px;
}
#fight{
    background-color: violet;
    margin: 10px;
    padding: ;
}
h1{
    margin: 20px, 30px, 20px;
}